* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
}

h1 {
    margin-bottom: 2vh;
}

h3 {
    font-weight: lighter;
}

.bloqueInternoDos {
    margin: 3vh 0;
}

.bloqueParteUno {
    background-color: cadetblue;
    border: 3px solid lightblue;
    height: 15vh;
}

.bloqueParteDos {
    border: 3px solid grey;
    border-top: none;
    min-height: 20vh;
    padding: 9vh 4vw 4vh 4vw;
}

.bloqueTarjeta {
    margin-top: 5vh;
    position: relative;
    width: 50vw;
}

.iconoUno{
    margin-bottom: .4vh;
}

.perfil {
    border: 4px solid white;
    border-radius: 50%;
    height: 15vh;
    left: 4vw;
    top: 8vh;
    position: absolute;
}

.iconoUno, .iconoDos {
    height: 2.5vh;
    margin-right: 1.5vw;
}

.bloqueInternoDos span {
    font-size: 1.17em;
}

.bloqueInternoTres span {
    font-weight: bold;
}

.bloqueInternoUno, .bloqueInternoTres, body{
    align-items: center;
}

.bloqueInternoDos span, .bloqueInternoUno, .bloqueInternoTres, body{
    display: flex;
}
